{% set example = salt.pillar.get('example', {
    'user': 'example',
    'group': 'example',
    'home': '/var/lib/example',
    'pkgs': ['vim', 'emacs', 'nano'],
    'files': [
        '/var/lib/example/example.conf',
        '/var/log/example/example.log',
    ],
}, merge=True) %}
